/*Timothy Kim
This is the stylesheet for my fifteen puzzle.*/

.adjacent {
}

.adjacent:hover {
	border: 5px solid red;
	color: red;
	cursor: pointer;
}

body {
	font-family: cursive;
	font-size: 14pt;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#ghostPiece {
	background-color: white;
	height: 100px;
	position: absolute;
	width: 100px;
}

.piece {
	background-image: url(background.jpg);
	border: 5px solid black;
	font-size: 40pt;
	height: 90px;
	position: absolute;
	width: 90px;
}

#puzzlearea {
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 400px;
}
